
<%= render "layouts/banner"  %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @lists.each do |list| %>
      <tr>
      <% if  (list.photo.key !=nil)%>
        <td><%= cl_image_tag list.photo.key, height: 300, width: 400, crop: :fill %></td>
      <% end %>
        <td><%= list.name %></td>
        <td><%= link_to "See details",list, class: "btn btn-primary"%></td>
        <td><%= link_to "Delete #{list.name}",
            list_path(list),
            method: :delete,
            data: { confirm: "Are you sure?" }, :class => 'btn btn-danger'%>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New List', new_list_path %>
